@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

@font-face {
    font-family: 'QiJiFont';
    src: url('/static/qiji.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Ma Shan Zheng', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f2e6d9;
    color: #4a3728;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(255, 248, 240, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1.title {
    text-align: center;
    color: #8b4513;
    font-size: 4em;
    font-family: 'QiJiFont', cursive;
    position: relative;
    /* background: linear-gradient(90deg, #ffd700, #ff8c00, #ffd700);
    background-size: 200% 200%;
    animation: goldFlow 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin-bottom: 30px;
}

/* @keyframes goldFlow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
} */

.scroll-container {
    overflow: auto;
    max-height: 80vh; /* 或者其他适合的高度 */
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgba(255, 248, 240, 0.6);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #d2b48c;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #d2b48c;
    font-weight: bold;
    color: #4a3728;
    font-family: 'QiJiFont', cursive;
    font-size: 1.5em;
}

tr:nth-child(even) {
    background-color: rgba(255, 248, 240, 0.3);
}

tr:hover {
    background-color: rgba(210, 180, 140, 0.3);
}

td:last-child {
    font-size: 0.9em;
    line-height: 1.4;
    white-space: nowrap;
}

.year, .date, .time {
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap;
}

.year {
    color: #8b4513;
    font-weight: bold;
}

.date {
    color: #4a3728;
}

.time {
    color: #6b8e23;
}

.time .ke {
    color: #d4380d;
}

td {
    font-size: 1.1em;
}

/* 动画相关样式 */
/* .hidden td {
    visibility: hidden;
}



.reveal td {
    animation: revealText 1s forwards;
}
